# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*py~

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
.cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# no data
Runs*